:root{  
  --orange: #FFC53D;
  --white: #fafafa;
  --black: #515151;
}

*{  box-sizing: border-box;}

body{
    height: 100%;
    /* width: 75%; */
    justify-items: center;
    color:  var(--black);
    font-family: Raleway, sans-serif;
    animation-name: bgSwell;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

nav{
  margin-top: 50px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 30px;
  justify-items: baseline;
}

.logo{  justify-self: right;}
.title{font-size: 24px;}

.item{
  text-decoration: none;
  color: var(--black);
  padding: 10px;
  align-self: center;
  word-wrap: initial;
}

.item:hover{
  background: var(--orange);
  font-weight: bolder;
}

.wrapper>.welcome{
  background: linear-gradient(270deg, #ff0c0c, #f8cb2c, #ab5858);
  background-size: 600% 600%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  height: 585px;
  margin-top: 30px;
  padding: 10px;
  animation: wcSwell 25s ease infinite;
}

@keyframes wcSwell{
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.welcome>h1{
  font-size: 100px;
  color: azure;
}

header p{
  font-size: 30px;
}

.btns{
  display: flex;
  justify-content: center;
}

.round{
  padding: 20px;
  font-size: 30px;
}

.happy{
  text-align: center;
  font-size: 30px;
  padding: 50px;
}

.buttons{
  display: flex;
  justify-content: center;
}

.b1{
  position: relative;
  left: -100px;
  top: -20px
}

.b2{
  position: relative;
  left: 100px;
  top: -20px;
}

.btn{
  color: var(--white);
  border: 1px solid black;
  text-decoration: none;
  padding: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background: linear-gradient(260deg, var(--orange), rgba(255, 166, 0, 0.247));
}

.btn:hover{
  background: var(--white);
  border: 1px solid var(--orange);
}

.aboutme{
  position: relative;
  display: flex;
  width: 75%;
  justify-self: center;
}

.photo{
  width: 100px;
  background: red;
}

.details{
  display: flex;
  flex-direction: column;
}

.line{
  border: 2px dashed var(--orange);
  margin-left: 20px;
  margin-right: 20px;
}

.description{
  font-size: 25px;
  line-height: 170%;
  text-justify: kashida;
}

.bg{
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes bgSwell{
  0%{
    background-color: var(--black);
    color: var(--white);
  }

  100%{
    background-color: var(--white);
    color: var(--black);
  }
}

/* .thing-that-moves {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(175, 51, 2, 0.719);
    top: 0;
    left: 0;
    transition: left 2s;
  } 

  @media (min-width: 400px) {
    .thing-that-moves{

      left: 50px;
    }
  }
  @media (min-width: 600px) {
    .thing-that-moves{

      left: 100px;
    }
  } */