body{
    background-color: black;
    color:  black;
    font-size: 25px;
    font-family: 'Biryani', sans-serif;
    animation-name: bgSwell;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.wrapper > * {
  border: 1px solid black;
}

.wrapper>.welcome{
  box-sizing: border-box;
  text-align: center;
  height: 400px;
  margin-top: 30px;
  background: linear-gradient(260deg, yellow, lime);
  padding: 10px;
}

nav{
  /* font-size: 40px; */
  display: grid;
  grid-template-columns: 1fr 8fr auto 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* border: 1px solid black; */
}


.item{
  border: 1px solid black;
}

.left{
  background-color: orange;
}

@keyframes bgSwell{
  0%{
    background-color: black;
    color: white;
  }

  100%{
    background-color: white;
    color: black;
  }
}

/* .thing-that-moves {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(175, 51, 2, 0.719);
    top: 0;
    left: 0;
    transition: left 2s;
  } 

  @media (min-width: 400px) {
    .thing-that-moves{

      left: 50px;
    }
  }
  @media (min-width: 600px) {
    .thing-that-moves{

      left: 100px;
    }
  } */