:root{  
  --orange: #FFC53D;
  --white: #fafafa;
  --black: #515151;
}

*{  box-sizing: border-box;}

body{
    height: 100%;
    /* width: 75%; */
    justify-items: center;
    color:  var(--black);
    font-family: Raleway, sans-serif;
    animation-name: bgSwell;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

nav{
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 162.5%;
  letter-spacing: 0.02em;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 30px;
  justify-items: baseline;
}

.logo{  justify-self: right;}

.item{
  text-decoration: none;
  color: var(--black);
  padding: 10px;
  align-self: center;
}

.item:hover{
  background: var(--orange);
  font-weight: bolder;
}

.welcome{
  background: linear-gradient(270deg, #ff0c0c, #f8cb2c, #ab5858);
  background-size: 600% 600%;
  animation: wcSwell 18s ease infinite;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 585px;
  margin-top: 30px;
  padding: 10px;
}

@keyframes wcSwell{
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.welcome>h1{
  font-size: 100px;
  color: azure;
}

header p{font-size: 30px;}

.btns{
  display: flex;
  justify-content: center;
}

.round{
  padding: 20px;
  font-size: 187.5%;
}

.happy{
  text-align: center;
  font-size: 187.5%;
  padding: 50px;
}

.buttons{
  display: flex;
  justify-content: center;
}

.b1{
  position: relative;
  left: -100px;
  top: -20px
}

.b2{
  position: relative;
  left: 100px;
  top: -20px;
}

.btn{
  color: var(--black);
  font-size: 36px;
  border: 1px solid black;
  text-decoration: none;
  padding: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background: linear-gradient(260deg, var(--orange), rgba(255, 166, 0, 0.247));
}

.btn:hover{
  background: var(--white);
  border: 1px solid var(--orange);
}

.back{
  position: absolute;
  height: 110%;
  width: 100%;
  left: -25%;
  top: -5%;
  background: rgba(128, 128, 128, 0.103);
  z-index: -2;
}

h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  width: 40%;
  position: relative;
  left: 250px;
}

.aboutme{
  position: relative;
  display: flex;
  width: 75%;
  justify-self: center;
  left: 10%;
}

.astro{
  width: 30%;
  /* flex: 1 1 100%; */
  margin-left: 1%;
  font-size: 36px;
  align-self: center;
  justify-self: center;
}

.details{
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 25px;
  flex: 1 1 100%;
  padding: 20px;
  margin-left: 5%;
  align-self: center;
  justify-self: center;
}

.line{
  border: 2px dashed var(--orange);
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.description{
  font-size: 25px;
  line-height: 170%;
  text-align: justify;
  margin-right: 1%;
  flex: 1 1 100%;
  padding: 20px;
  text-align-last: center;
}

.bg{
  position: absolute;
  background-color: #ffffff;
  box-shadow: 10px 10px 24px -6px rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
  z-index: -1;
}

h2:nth-of-type(2){margin-top: 20%;}

.skills{
  display: flex;
  position: relative;
  width: 75%;
  justify-self: center;
  justify-content: space-around;
  justify-items: center;
  left: 10%;
}

.skill{
  color: var(--orange);
  font-size: 40px;
  text-align: center;
}

.icon{
  justify-self: center;
  align-self: center;
  margin-top: 20px;
}

.icon>i{
  margin-left: 25%;
  margin-bottom: 10%;
  margin-top: 10%;
}

.icon>p{font-size: 28px;}

.skills>.back{
  left: 20%;
}

.contactDown{
  position: relative;
  display: flex;
  width: 75%;
  justify-self: center;
  left: 10%;
  flex-direction: column;
}

.contactDown>input{
  color: rgb(209, 209, 209);
  border-radius: 10px;
}

footer{
  background: linear-gradient(270deg, #ff0c0c, #f8cb2c, #ab5858);
  background-size: 600% 600%;
  animation: wcSwell 18s ease infinite;
  text-align: center;
  color: azure;
  height: 40px;
  padding-top: 10px;
  margin-top: 10px;
}

@keyframes bgSwell{
  0%{
    background-color: var(--black);
    color: var(--white);
  }

  100%{
    background-color: var(--white);
    color: var(--black);
  }
}

/* MINIMUM */
@media screen and (max-width: 400px) {
  body{
    background: blueviolet !important;
  }

  .wrapper>nav{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }

  .welcome>h1{
    font-size: 60px;
  }

  .icon>p{
    font-size: 20px;
    text-align: center;
  }
}

/* MEDIUM */
@media screen and (max-width: 979px) {
  /* html body{background: yellow !important;} */

  nav{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }

  .welcome{height:450px}
  .title{display: none;}
  .item{padding: 0;}

  .welcome>h1{
    font-size: 80px;
  }

  .btn{
    font-size: 18px;
    left: -1%;
  }

  .back{height: 101.5%;}
  .aboutme>*{font-size: 87%;}

  h2{
    left: 0;
    font-size: 150%;
  }

  .icon{
    font-size: 10px;
    text-align: center;
    left: -10px;
  }
}

/* LARGE */
@media screen and (max-width: 1600px){
  #about>.aboutme{
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
  }

  #skills>.skills{
    flex-direction: column;
  }

  .line{
    margin: 20px 20px 20px 20px;
  }

  .back{height: 105%; top: -1%;}

  .astro{
    justify-self: center;
    margin: 10px 20px 0 0;
    font-size: 20px;
  }
}