:root{
  --orange: #FFC53D;
}

*{
  box-sizing: border-box;
}

body{
    height: 100%;
    background-color: black;
    color:  black;
    font-size: 25px;
    font-family: Raleway, sans-serif;
    animation-name: bgSwell;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.wrapper > * {
  border: 1px solid black;
}

nav{
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 8fr auto 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 30px;
  justify-items: baseline;
  /* border: 10px solid black; */
}

.item:hover{
  background: greenyellow;
  font-weight: bolder;
}

/* .item,.left,.title{
  justify-self: flex-start;
} */

.left{
  background-color: var(--orange);
}

.wrapper>.welcome{
  background: url(img/welcome2.jpg);
  background-size: cover;
  /* background-size: contain; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  height: 585px;
  margin-top: 30px;
  padding: 10px;
}

.welcome>h1{
  font-size: 100px;
  color: azure;
}

.btns{
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.round{
  background-color: white;
  width: 50px;
  height: 10x;
  border-radius: 100px;
}

.happy{
  text-align: center;
  font-size: 30px;
  padding: 50px;
}

.buttons{
  display: flex;
  justify-content: center;
}

.b1{
  /* position: relative; */
  
  color: var(--orange);
  border: 1px solid var(--orange);
  padding: 10px;
  border-radius: 20px;
}

.b2{
  /* position: relative; */
  /* top: 10px; */
  /* border: 1px solid black; */
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(260deg, var(--orange), rgba(255, 166, 0, 0.575));
}

.aboutme{
  display: grid;
  grid-template-columns: 1fr 3fr 8fr;
  grid-template-rows: 1fr 4fr;
  border: 1px solid black;
  padding: 100px;
}

.grd{
  grid-column: span 3;
}

.circle{
  border-radius: 100px;
  background-color: var(--orange);
  grid-row: 2;
}

.lorem{
  font-size: 18px;
  line-height: 172.35%;

}

.aboutme>*{
  border: 1px solid black;
}

@keyframes bgSwell{
  0%{
    background-color: black;
    color: white;
  }

  100%{
    background-color: rgba(255, 255, 255, 0.377);
    color: black;
  }
}

/* .thing-that-moves {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(175, 51, 2, 0.719);
    top: 0;
    left: 0;
    transition: left 2s;
  } 

  @media (min-width: 400px) {
    .thing-that-moves{

      left: 50px;
    }
  }
  @media (min-width: 600px) {
    .thing-that-moves{

      left: 100px;
    }
  } */